/*  --------------------
 *  00. GENERAL
 *  --------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Finlandica", sans-serif;
  box-sizing: border-box;
}

p {
  color: #030E12;
}

h2 {
  color: #9f2723;
  font-weight: bold;
  text-decoration: underline;
  font-size: 40px;
  margin: 15px 0px 15px 0px;
}

h3 {
  color: #030E12;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  margin: 15px 0px 15px 0px;
}

h4 {
  color: #5D6568;
  font-weight: normal;
  text-decoration: underline;
  font-size: 15px;
  margin: 15px 0px 15px 0px;
}

body {
  background-color: #FCDE67;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body p {
  margin-bottom: 15px;
  line-height: 30px;
}
body input {
  display: inline-block;
}

/*  --------------------
 *  01. HEADER
 *  --------------------*/
header {
  background-color: #FCDE67;
  width: 100%;
  text-align: center;
}
header a p {
  line-height: 35px;
  min-height: 40px;
  font-size: 50px;
  font-family: "Plaster", cursive;
  color: #030E12;
  margin: 25px 0px 25px 0px;
}
header a p span {
  font-size: 40px;
  font-family: "Plaster", cursive;
  color: #9f2723;
}
header nav ul {
  width: 100%;
  justify-content: center;
}
header nav ul li {
  list-style: none;
  background-color: #FCDE67;
  border: solid 2px #030E12;
  border-radius: 5px;
  margin: 10px 20px 10px 20px;
  width: 150px;
}
header nav ul li a {
  color: #030E12 !important;
}
header nav ul li i {
  color: #030E12;
}

/*  --------------------
 *  02. MAIN
 *  --------------------*/
.xt_Main, main section, main {
  border: dashed 2px;
  border-radius: 5px;
  width: auto;
}

main {
  min-height: calc(100vh - 146px - 28px);
  margin: 14px;
  border-color: #030E12;
  box-shadow: #5D6568 0px 0px 50px 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main section {
  width: 100%;
  margin: 14px;
  border-color: #9f2723;
  padding: 5px;
}

/*  --------------------
 *  03. FOOTER
 *  --------------------*/
footer {
  text-align: center;
  background-color: #030E12;
  width: 100%;
  padding: 10px;
}
footer i {
  color: #C1CACE;
  margin: 0px 5px 0px 5px;
}
footer p {
  color: #C1CACE;
}

/*  --------------------
 *  04. CLASS & ID
 *  --------------------*/
.tablaServicios {
  display: inline-block;
  border-color: goldenrod;
  border-radius: 5px;
  margin-bottom: 15px;
}

.activePage {
  border-color: #9f2723;
}
.activePage a {
  color: #9f2723 !important;
}
.activePage i {
  color: #9f2723;
}

.carousel {
  background-color: #FEF0CA;
  border-radius: 5px;
  max-height: 500px;
  max-width: 750px;
}

.whatsapp {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  background-color: #25D366;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  border: solid 2px white;
}
.whatsappIcon {
  margin-top: 8px;
}

.cert {
  width: 450px;
  height: 450px;
  background-color: #FEF0CA;
  border-radius: 5px;
}

#portafolio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 15px;
}
#portafolio div {
  background-color: #5D6568;
  color: #FCDE67;
  max-width: 340px;
  padding: 3rem;
  border-radius: 5px;
}

.servicio {
  margin-top: 15px;
  width: 50%;
  background-color: #FEF0CA;
  border: solid 1px #FEF0CA;
  border-radius: 5px;
}
.servicio img {
  margin: 0px;
  border-radius: 5px;
}

.navbar-toggler {
  border: solid 2px #9f2723 !important;
}

/*  --------------------
 *  05. MEDIA QUERIES
 *  --------------------*/
@media only screen and (min-width: 768px) {
  #portafolio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  main {
    min-height: calc(100vh - 170px - 28px);
  }
  .cert {
    width: 750px;
  }
  #portafolio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .servicio {
    width: 75%;
  }
}
/*  --------------------
 *  06. SCROLLBAR
 *  --------------------*/
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #030E12;
}
::-webkit-scrollbar-thumb {
  background-color: #9f2723;
}

/*  --------------------
 *  07. ANIMACIONES
 *  --------------------*/
header {
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
header p:hover {
  color: #9f2723;
  font-size: 40px;
  transform: rotate(-3deg);
  transition-duration: 1s;
}
header p:hover span {
  color: #030E12;
  font-size: 50px;
  transition-duration: 1s;
}
header a:hover {
  text-decoration: none;
}
header nav ul li:hover {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  border-color: #9f2723;
  box-shadow: #9f2723 0px 0px 5px 1px;
}
header nav ul li:hover a {
  color: #9f2723 !important;
}
header nav ul li:hover i {
  color: #9f2723;
}

main {
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
main #skills img:hover {
  transform: scale(1.2);
  transition-duration: 1.5s;
}

footer {
  animation-name: fadeInUp;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
footer i:hover {
  color: #FCDE67;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.whatsapp {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.whatsapp:hover {
  color: #9f2723;
  border-color: #9f2723;
}

#portafolio div:hover {
  background-color: #9f2723;
  color: #030E12;
  transform: scale(1.05);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*# sourceMappingURL=estilos.css.map */
