$font1: 'Finlandica', sans-serif
$colorA1: #FCDE67
$colorB1: #030E12
$colorB2: #5D6568
$colorB3: #C1CACE
$colorC1: #9f2723
$radius: 5px
$mainMargin: 14px

/*  --------------------
    00. GENERAL
    --------------------*/
*
    margin:0
    padding:0
    font-family: $font1
    box-sizing: border-box

p
    color: $colorB1

$map_H: 2 $colorB1 bold underline 40px, 3 $colorB2 bold none 30px, 4 $colorB3 normal underline 15px
@each $title, $color, $fweight, $tdecoration, $fsize in $map_H
    h#{$title}
        color: $color
        font-weight: $fweight
        text-decoration: $tdecoration
        font-size: $fsize
        margin: 15px 0px 15px 0px

body
    background-color: $colorA1
    display: flex
    flex-direction: column
    p
        margin-bottom: 15px
        line-height: 30px
    input
        display: inline-block

/*  --------------------
    01. HEADER
    --------------------*/
header
    background-color: $colorA1
    width: 100%
    text-align: center
    a p
        font-size: 40px
        color: $colorB1
        margin: 25px 0px 25px 0px
        span
            color: $colorC1
    nav ul
        width: 100%
        justify-content: center
        li
            list-style: none
            background-color: $colorA1
            border: solid 2px $colorB1
            border-radius: $radius
            margin: 10px 20px 10px 20px
            width: 150px
            a
                color: $colorB1 !important
            i
                color: $colorB1

/*  --------------------
    02. MAIN
    --------------------*/
.xt_Main
    border: dashed 2px
    border-radius: $radius
    width: auto

main
    min-height: calc(100vh - 136px - (2*$mainMargin))
    @extend .xt_Main
    margin: $mainMargin
    border-color: $colorB1
    box-shadow: $colorB3 0px 0px 50px 1px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    section
        @extend .xt_Main
        width: 100%
        margin: 14px
        border-color: $colorC1
        padding: 5px

/*  --------------------
    03. FOOTER
    --------------------*/
footer
    text-align: center
    background-color: $colorB1
    width: 100%
    padding: 10px
    i
        color: $colorB3
        margin: 0px 5px 0px 5px
    p
        color: $colorB3

/*  --------------------
    04. CLASS & ID
    --------------------*/
.tablaServicios
    display: inline-block
    border-color: goldenrod
    border-radius: $radius
    margin-bottom: 15px

.activePage
    border-color: $colorC1
    a
        color: $colorC1 !important
    i
        color: $colorC1

.carousel
    width: 800px

/*  --------------------
    05. MEDIA QUERIES
    --------------------*/
@media only screen and (min-width:992px)
    main
        min-height: calc(100vh - 160px - (2*$mainMargin))

/*  --------------------
    06. ANIMACIONES
    --------------------*/
@import "animaciones"