$font1: 'Finlandica', sans-serif
$colorA1: #30D5C8
$colorA2: #51E0B9
$colorA3: #78E9A6
$colorA4: #A1F192
$colorA5: #CCF67F
$colorA6: #F9F871
$colorB1: #E8F3F1
$colorHF: white

/*  --------------------
    00. GENERAL
    --------------------*/
*
    margin:0
    padding:0
    font-family: $font1
    box-sizing: border-box

$map_H: 2 #050404 bold underline 40px, 3 #262323 bold none 30px, 4 #3F3D3D normal underline 15px
@each $title, $color, $fweight, $tdecoration, $fsize in $map_H
    h#{$title}
        color: $color
        font-weight: $fweight
        text-decoration: $tdecoration
        font-size: $fsize
        margin: 15px 0px 15px 0px

body
    background-image: linear-gradient(180deg, $colorA1 0%, $colorA2 17%, $colorA3 39%, $colorA4 60%, $colorA5 80%, $colorA6 100%)
    height: 100vh
    background-repeat: no-repeat
    background-attachment: fixed
    display: grid
    grid-template-rows: 440px auto 80px
    p
        margin-bottom: 15px
        line-height: 30px
    input
        display: inline-block
    i
        color: $colorA1

/*  --------------------
    01. HEADER
    --------------------*/
header
    background-color: $colorHF
    width: 100%
    position: sticky
    top:0px
    text-align: center
    a p
        font-family: 'Press Start 2P', cursive
        font-size: 50px
        color: $colorA1
        margin: 25px 0px 25px 0px
    a:hover
        text-decoration: none
    nav ul li 
        list-style: none
        background-color: white
        border-top: solid 5px $colorA1
        border-right: solid 5px $colorA2
        border-bottom: solid 5px $colorA3
        border-left: solid 5px $colorA4
        border-radius: 5px
        margin: 10px 20px 10px 20px
        a
            color: black
            &:hover
                color: black

/*  --------------------
    02. MAIN
    --------------------*/
.xt_Main
    border: dashed 5px
    border-radius: 5px
    width: auto

main
    @extend .xt_Main
    margin: 14px
    border-color: $colorA6
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    section
        @extend .xt_Main
        margin: 7px
        border-color: $colorB1
        padding: 5px
        div img
            margin: 10px

/*  --------------------
    03. FOOTER
    --------------------*/
footer
    text-align: center
    background-color: $colorHF
    width: 100%
    p
        color: $colorA2

/*  --------------------
    04. CLASS & ID
    --------------------*/
.textoEncerrado
    max-height: 150px
    overflow: auto
    color: grey

.tablaServicios
    display: inline-block
    border-color: goldenrod
    border-radius: 5px
    margin-bottom: 15px

#skills
    display: grid
    grid-template-columns: repeat(1, 1fr)
    justify-items: center

/*  --------------------
    05. MEDIA QUERIES
    --------------------*/
@media only screen and (min-width:768px)
    body
        grid-template-rows: 160px auto 80px
@media only screen and (min-width:768px) and (max-width:1023px)
    #skills
        grid-template-columns: repeat(2, 1fr)
@media only screen and (min-width:1024px)
    #skills
        grid-template-columns: repeat(3, 1fr)

/*  --------------------
    06. ANIMACIONES
    --------------------*/
@import "animaciones"